# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

langid_model/*
baseline_model/*
sentiment_model/*
ensemble_model/*
multitask_afrosenti_model/*
stacked_sentiment_model/*
cv_pipeline/*
baseline_model_cv/*
pipeline_model/*
pipeline_cv/*
pipline_cv/*


.idea/760-testing.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
ensemble_model/lang_encoder.pkl
ensemble_model/sentiment_encoder.pkl
lang_id_model/lang_encoder.pkl
lang_id_model/pytorch_model.bin
lang_id_model/special_tokens_map.json
lang_id_model/tokenizer_config.json
lang_id_model/tokenizer.json
lang_id_model/checkpoint-1506/model.safetensors
lang_id_model/checkpoint-1506/optimizer.pt
lang_id_model/checkpoint-1506/rng_state.pth
lang_id_model/checkpoint-1506/scaler.pt
lang_id_model/checkpoint-1506/scheduler.pt
lang_id_model/checkpoint-1506/special_tokens_map.json
lang_id_model/checkpoint-1506/tokenizer_config.json
lang_id_model/checkpoint-1506/tokenizer.json
lang_id_model/checkpoint-1506/trainer_state.json
lang_id_model/checkpoint-1506/training_args.bin
multitask_afrosenti_model/config.json
multitask_afrosenti_model/lang_encoder.pkl
multitask_afrosenti_model/model.safetensors
multitask_afrosenti_model/pytorch_model.bin
multitask_afrosenti_model/sentiment_encoder.pkl
multitask_afrosenti_model/special_tokens_map.json
multitask_afrosenti_model/tokenizer_config.json
multitask_afrosenti_model/tokenizer.json
multitask_afrosenti_model/training_args.bin
multitask_afrosenti_model/checkpoint-1506/model.safetensors
multitask_afrosenti_model/checkpoint-1506/optimizer.pt
multitask_afrosenti_model/checkpoint-1506/rng_state.pth
multitask_afrosenti_model/checkpoint-1506/scaler.pt
multitask_afrosenti_model/checkpoint-1506/scheduler.pt
multitask_afrosenti_model/checkpoint-1506/special_tokens_map.json
multitask_afrosenti_model/checkpoint-1506/tokenizer_config.json
multitask_afrosenti_model/checkpoint-1506/tokenizer.json
multitask_afrosenti_model/checkpoint-1506/trainer_state.json
multitask_afrosenti_model/checkpoint-1506/training_args.bin
ensemble_model/complete_model.pt
ensemble_model/config.json
ensemble_model/ensemble_model.pt
ensemble_model/lang_labels.json
ensemble_model/langid_model.pt
ensemble_model/sentiment_labels.json
ensemble_model/checkpoint-1606/model.safetensors
ensemble_model/checkpoint-1606/optimizer.pt
ensemble_model/checkpoint-1606/rng_state.pth
ensemble_model/checkpoint-1606/scaler.pt
ensemble_model/checkpoint-1606/scheduler.pt
ensemble_model/checkpoint-1606/trainer_state.json
ensemble_model/checkpoint-1606/training_args.bin
ensemble_model/langid_tokenizer/special_tokens_map.json
ensemble_model/langid_tokenizer/tokenizer_config.json
ensemble_model/langid_tokenizer/tokenizer.json
ensemble_model/sentiment_tokenizer/special_tokens_map.json
ensemble_model/sentiment_tokenizer/tokenizer_config.json
ensemble_model/sentiment_tokenizer/tokenizer.json
ensemble_model/cv_results.json
ensemble_model/checkpoint-803/model.safetensors
ensemble_model/checkpoint-803/optimizer.pt
ensemble_model/checkpoint-803/rng_state.pth
ensemble_model/checkpoint-803/scaler.pt
ensemble_model/checkpoint-803/scheduler.pt
ensemble_model/checkpoint-803/trainer_state.json
ensemble_model/checkpoint-803/training_args.bin
ensemble_model/fold_1/complete_model.pt
ensemble_model/fold_1/ensemble_model.pt
ensemble_model/fold_1/langid_model.pt
ensemble_model/fold_1/checkpoint-1606/model.safetensors
ensemble_model/fold_1/checkpoint-1606/optimizer.pt
ensemble_model/fold_1/checkpoint-1606/rng_state.pth
ensemble_model/fold_1/checkpoint-1606/scaler.pt
ensemble_model/fold_1/checkpoint-1606/scheduler.pt
ensemble_model/fold_1/checkpoint-1606/trainer_state.json
ensemble_model/fold_1/checkpoint-1606/training_args.bin
ensemble_model/fold_1/checkpoint-2409/model.safetensors
ensemble_model/fold_1/checkpoint-2409/optimizer.pt
ensemble_model/fold_1/checkpoint-2409/rng_state.pth
ensemble_model/fold_1/checkpoint-2409/scaler.pt
ensemble_model/fold_1/checkpoint-2409/scheduler.pt
ensemble_model/fold_1/checkpoint-2409/trainer_state.json
ensemble_model/fold_1/checkpoint-2409/training_args.bin
ensemble_model/fold_2/complete_model.pt
ensemble_model/fold_2/ensemble_model.pt
ensemble_model/fold_2/langid_model.pt
ensemble_model/fold_2/checkpoint-1606/model.safetensors
ensemble_model/fold_2/checkpoint-1606/optimizer.pt
ensemble_model/fold_2/checkpoint-1606/rng_state.pth
ensemble_model/fold_2/checkpoint-1606/scaler.pt
ensemble_model/fold_2/checkpoint-1606/scheduler.pt
ensemble_model/fold_2/checkpoint-1606/trainer_state.json
ensemble_model/fold_2/checkpoint-1606/training_args.bin
ensemble_model/fold_2/checkpoint-2409/model.safetensors
ensemble_model/fold_2/checkpoint-2409/optimizer.pt
ensemble_model/fold_2/checkpoint-2409/rng_state.pth
ensemble_model/fold_2/checkpoint-2409/scaler.pt
ensemble_model/fold_2/checkpoint-2409/scheduler.pt
ensemble_model/fold_2/checkpoint-2409/trainer_state.json
ensemble_model/fold_2/checkpoint-2409/training_args.bin
ensemble_model/fold_3/complete_model.pt
ensemble_model/fold_3/ensemble_model.pt
ensemble_model/fold_3/langid_model.pt
ensemble_model/fold_3/checkpoint-2409/model.safetensors
ensemble_model/fold_3/checkpoint-2409/optimizer.pt
ensemble_model/fold_3/checkpoint-2409/rng_state.pth
ensemble_model/fold_3/checkpoint-2409/scaler.pt
ensemble_model/fold_3/checkpoint-2409/scheduler.pt
ensemble_model/fold_3/checkpoint-2409/trainer_state.json
ensemble_model/fold_3/checkpoint-2409/training_args.bin
ensemble_model/fold_3/checkpoint-803/model.safetensors
ensemble_model/fold_3/checkpoint-803/optimizer.pt
ensemble_model/fold_3/checkpoint-803/rng_state.pth
ensemble_model/fold_3/checkpoint-803/scaler.pt
ensemble_model/fold_3/checkpoint-803/scheduler.pt
ensemble_model/fold_3/checkpoint-803/trainer_state.json
ensemble_model/fold_3/checkpoint-803/training_args.bin
ensemble_model/fold_4/complete_model.pt
ensemble_model/fold_4/ensemble_model.pt
ensemble_model/fold_4/langid_model.pt
ensemble_model/fold_4/checkpoint-2409/model.safetensors
ensemble_model/fold_4/checkpoint-2409/optimizer.pt
ensemble_model/fold_4/checkpoint-2409/rng_state.pth
ensemble_model/fold_4/checkpoint-2409/scaler.pt
ensemble_model/fold_4/checkpoint-2409/scheduler.pt
ensemble_model/fold_4/checkpoint-2409/trainer_state.json
ensemble_model/fold_4/checkpoint-2409/training_args.bin
ensemble_model/fold_4/checkpoint-803/model.safetensors
ensemble_model/fold_4/checkpoint-803/optimizer.pt
ensemble_model/fold_4/checkpoint-803/rng_state.pth
ensemble_model/fold_4/checkpoint-803/scaler.pt
ensemble_model/fold_4/checkpoint-803/scheduler.pt
ensemble_model/fold_4/checkpoint-803/trainer_state.json
ensemble_model/fold_4/checkpoint-803/training_args.bin
ensemble_model/fold_5/complete_model.pt
ensemble_model/fold_5/ensemble_model.pt
ensemble_model/fold_5/langid_model.pt
ensemble_model/fold_5/checkpoint-1606/model.safetensors
ensemble_model/fold_5/checkpoint-1606/optimizer.pt
ensemble_model/fold_5/checkpoint-1606/rng_state.pth
ensemble_model/fold_5/checkpoint-1606/scaler.pt
ensemble_model/fold_5/checkpoint-1606/scheduler.pt
ensemble_model/fold_5/checkpoint-1606/trainer_state.json
ensemble_model/fold_5/checkpoint-1606/training_args.bin
ensemble_model/fold_5/checkpoint-2409/model.safetensors
ensemble_model/fold_5/checkpoint-2409/optimizer.pt
ensemble_model/fold_5/checkpoint-2409/rng_state.pth
ensemble_model/fold_5/checkpoint-2409/scaler.pt
ensemble_model/fold_5/checkpoint-2409/scheduler.pt
ensemble_model/fold_5/checkpoint-2409/trainer_state.json
ensemble_model/fold_5/checkpoint-2409/training_args.bin
final/language_classification_model.joblib
langid_model/lang_encoder.pkl
langid_model/checkpoint-1605/config.json
langid_model/checkpoint-1605/model.safetensors
langid_model/checkpoint-1605/optimizer.pt
langid_model/checkpoint-1605/rng_state.pth
langid_model/checkpoint-1605/scheduler.pt
langid_model/checkpoint-1605/special_tokens_map.json
langid_model/checkpoint-1605/tokenizer_config.json
langid_model/checkpoint-1605/tokenizer.json
langid_model/checkpoint-1605/trainer_state.json
langid_model/checkpoint-1605/training_args.bin
langid_model/checkpoint-3210/config.json
langid_model/checkpoint-3210/model.safetensors
langid_model/checkpoint-3210/optimizer.pt
langid_model/checkpoint-3210/rng_state.pth
langid_model/checkpoint-3210/scheduler.pt
langid_model/checkpoint-3210/special_tokens_map.json
langid_model/checkpoint-3210/tokenizer_config.json
langid_model/checkpoint-3210/tokenizer.json
langid_model/checkpoint-3210/trainer_state.json
langid_model/checkpoint-3210/training_args.bin
langid_model/checkpoint-4815/config.json
langid_model/checkpoint-4815/model.safetensors
langid_model/checkpoint-4815/optimizer.pt
langid_model/checkpoint-4815/rng_state.pth
langid_model/checkpoint-4815/scheduler.pt
langid_model/checkpoint-4815/special_tokens_map.json
langid_model/checkpoint-4815/tokenizer_config.json
langid_model/checkpoint-4815/tokenizer.json
langid_model/checkpoint-4815/trainer_state.json
langid_model/checkpoint-4815/training_args.bin
langid_model/model/config.json
langid_model/model/model.safetensors
langid_model/model/special_tokens_map.json
langid_model/model/tokenizer_config.json
langid_model/model/tokenizer.json
langid_model/model/training_args.bin
langid_model/tokenizer/special_tokens_map.json
langid_model/tokenizer/tokenizer_config.json
langid_model/tokenizer/tokenizer.json
sentiment_model/sentiment_encoder.pkl
sentiment_model/checkpoint-803/config.json
sentiment_model/checkpoint-803/model.safetensors
sentiment_model/checkpoint-803/optimizer.pt
sentiment_model/checkpoint-803/rng_state.pth
sentiment_model/checkpoint-803/scheduler.pt
sentiment_model/checkpoint-803/special_tokens_map.json
sentiment_model/checkpoint-803/tokenizer_config.json
sentiment_model/checkpoint-803/tokenizer.json
sentiment_model/checkpoint-803/trainer_state.json
sentiment_model/checkpoint-803/training_args.bin
sentiment_model/model/config.json
sentiment_model/model/model.safetensors
sentiment_model/model/special_tokens_map.json
sentiment_model/model/tokenizer_config.json
sentiment_model/model/tokenizer.json
sentiment_model/model/training_args.bin
sentiment_model/tokenizer/special_tokens_map.json
sentiment_model/tokenizer/tokenizer_config.json
sentiment_model/tokenizer/tokenizer.json
baseline_model/sentiment_encoder.pkl
baseline_model/model/config.json
baseline_model/model/model.safetensors
baseline_model/model/special_tokens_map.json
baseline_model/model/tokenizer_config.json
baseline_model/model/tokenizer.json
baseline_model/model/training_args.bin
baseline_model/tokenizer/special_tokens_map.json
baseline_model/tokenizer/tokenizer_config.json
baseline_model/tokenizer/tokenizer.json
sentiment_model/checkpoint-1606/config.json
sentiment_model/checkpoint-1606/model.safetensors
sentiment_model/checkpoint-1606/optimizer.pt
sentiment_model/checkpoint-1606/rng_state.pth
sentiment_model/checkpoint-1606/scheduler.pt
sentiment_model/checkpoint-1606/special_tokens_map.json
sentiment_model/checkpoint-1606/tokenizer_config.json
sentiment_model/checkpoint-1606/tokenizer.json
sentiment_model/checkpoint-1606/trainer_state.json
sentiment_model/checkpoint-1606/training_args.bin
sentiment_model/checkpoint-2409/config.json
sentiment_model/checkpoint-2409/model.safetensors
sentiment_model/checkpoint-2409/optimizer.pt
sentiment_model/checkpoint-2409/rng_state.pth
sentiment_model/checkpoint-2409/scheduler.pt
sentiment_model/checkpoint-2409/special_tokens_map.json
sentiment_model/checkpoint-2409/tokenizer_config.json
sentiment_model/checkpoint-2409/tokenizer.json
sentiment_model/checkpoint-2409/trainer_state.json
sentiment_model/checkpoint-2409/training_args.bin
stacked_sentiment_model/sentiment_encoder.pkl
stacked_sentiment_model/model/config.json
stacked_sentiment_model/model/model.safetensors
stacked_sentiment_model/model/special_tokens_map.json
stacked_sentiment_model/model/tokenizer_config.json
stacked_sentiment_model/model/tokenizer.json
stacked_sentiment_model/model/training_args.bin
stacked_sentiment_model/tokenizer/special_tokens_map.json
stacked_sentiment_model/tokenizer/tokenizer_config.json
stacked_sentiment_model/tokenizer/tokenizer.json
stacked_sentiment_model_soft/checkpoint-1606/config.json
stacked_sentiment_model_soft/checkpoint-1606/model.safetensors
stacked_sentiment_model_soft/checkpoint-1606/optimizer.pt
stacked_sentiment_model_soft/checkpoint-1606/rng_state.pth
stacked_sentiment_model_soft/checkpoint-1606/scheduler.pt
stacked_sentiment_model_soft/checkpoint-1606/special_tokens_map.json
stacked_sentiment_model_soft/checkpoint-1606/tokenizer_config.json
stacked_sentiment_model_soft/checkpoint-1606/tokenizer.json
stacked_sentiment_model_soft/checkpoint-1606/trainer_state.json
stacked_sentiment_model_soft/checkpoint-1606/training_args.bin
stacked_sentiment_model_soft/checkpoint-2409/config.json
stacked_sentiment_model_soft/checkpoint-2409/model.safetensors
stacked_sentiment_model_soft/checkpoint-2409/optimizer.pt
stacked_sentiment_model_soft/checkpoint-2409/rng_state.pth
stacked_sentiment_model_soft/checkpoint-2409/scheduler.pt
stacked_sentiment_model_soft/checkpoint-2409/special_tokens_map.json
stacked_sentiment_model_soft/checkpoint-2409/tokenizer_config.json
stacked_sentiment_model_soft/checkpoint-2409/tokenizer.json
stacked_sentiment_model_soft/checkpoint-2409/trainer_state.json
stacked_sentiment_model_soft/checkpoint-2409/training_args.bin
stacked_sentiment_model_soft/checkpoint-803/config.json
stacked_sentiment_model_soft/checkpoint-803/model.safetensors
stacked_sentiment_model_soft/checkpoint-803/optimizer.pt
stacked_sentiment_model_soft/checkpoint-803/rng_state.pth
stacked_sentiment_model_soft/checkpoint-803/scheduler.pt
stacked_sentiment_model_soft/checkpoint-803/special_tokens_map.json
stacked_sentiment_model_soft/checkpoint-803/tokenizer_config.json
stacked_sentiment_model_soft/checkpoint-803/tokenizer.json
stacked_sentiment_model_soft/checkpoint-803/trainer_state.json
stacked_sentiment_model_soft/checkpoint-803/training_args.bin
